* {
    margin: 0;
    padding: 0;
} 
a {
    text-decoration: none;
    color: #333;
}

.app {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    ;
}

/* 顶部占位 */
.jd_promotion {
    width: 100%;
    background-color: rgb(26, 26, 26);
}

.activity_top { 
    height: 80px;
    float: left;
}

.jd_container {
    background: url(https://img12.360buyimg.com/babel/jfs/t1/63481/33/13694/74929/5db0148aE779a49d6/d2ed977f837de408.jpg.webp) no-repeat 50% 0;
    margin: 0 auto;
    width: 1190px;
    height: 80px;
    position: relative;
}

.jd_container_11 {
    height: 80px;
    width: 190px;
    background: url(https://img11.360buyimg.com/jdphoto/s190x80_jfs/t1/75681/4/13136/8303/5da535ccEab936d91/500a04376c22010b.jpg) no-repeat;
    position: absolute;
}

.top_right {
    float: right;
    margin-right: 88px;
}

.top_right_1 {
    display: inline-block;
    width: 116px;
    height: 46px;
    margin: 18px -14px 0 0;
}

.top_right_1 img {
    width: 95px;
    height: 39px;
}
.jd_container i{
    position: absolute; 
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px; 
    cursor: pointer;
    background: #666; 
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    opacity: .8;
}  
.nav {
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #999;
}
/*城市定位部分*/
.shortcut { 
    width: 100%;
    height: 31px;
    background-color: #e3e4e5;
    border-bottom: 1px solid#ddd;
}
.shortcut_btn {
    display: inline-block;
    position: relative;
    height: 32px;
}
.icon_position{ 
    width: 58px;
    position: absolute;
    z-index: 4;
    padding: 0 7px;
} 
.shortcut_btn:hover .icon_position{
    height: 32px;
    background: white;
}
.shortcut_btn:hover .position{
    display: block;
}
.shortcut_btn i {
    color: red;
}
.shortcut_btn span {
    line-height: 30px;
    color: #999; 
}
.shortcut_btn .position{
    display: none;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 31px; 
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 2;
}
.position .position_content{
    width: 300px;
    overflow: hidden;
}
.position .item{ 
    float: left;
    width: 60px;
    padding: 2px 0;
    text-align: center;
}
.position .item a{  
    color: #999;
}
.position_center{
    margin: 10px 0 10px 10px;
}
.position .line{
    width: 262px;
    height: 0;
    border-bottom: 1px dotted #eee;
    margin: 0 auto;
}
.position .position_desc{
    margin: 9px 0;
    color: #8f8f8f;
}
.position_desc1 a{
    color: #8f8f8f;
}
/*城市定位部分*/
/*导航通用ul,li,.coop,.li_child样式*/
.fr {
    list-style: none;
    float: right;
    position: relative;
}
.fr_login {
    float: left;
    text-align: center; 
    height: 32px; 
    position: relative; 
    padding: 0 13px 0 10px;
}
.fr_login i:nth-child(7){
    display: none;
}
.coop{
    position: relative;
    left: -6px;
    top: 0; 
    text-align: center;
    height: 32px; 
    z-index: 7;
    width: 80px;
}  
.iconfont1{
    position: absolute;
    top: 2px;
}
.fr_login i{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: #ccc;
}
.li_child{
    position: absolute;
    display: none;
    top: 32px;
    z-index: 5;
    background: #fff;
}
.fr_login:hover .li_child{
    display: block;  
}
.fr_login:hover .coop{ 
    background: #fff;
    height: 32px; 
    border-bottom: 1px solid white;
}
.fr_login:hover .coop1{
    background: #e3e4e5;
}
/*导航通用li,.coop,.li_child样式*/
/*我的京东部分下拉*/
.myJD{
    left: 4px;
    width: 280px;
    height: 163px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
}  
.myJD_listone,.myJD_listtwo{
    padding: 10px 0 10px 15px;
    overflow: hidden;
    box-sizing: border-box;
}
.myJD_listone{
    height: 92px;
    
}
.myJD_listtwo{
    border-top: 1px solid #f1f1f1;
}
.myJD_listone .item,.myJD_listtwo .item{
    float: left;
    width: 126px; 
}
.myJD_listone .item li,.myJD_listtwo .item li{
    height: 24px;
    line-height: 24px;   
}
.myJD_listone .item li a,.myJD_listtwo .item li a{
    color: #999;
}
/*我的京东部分下拉*/
.iconfont{
    font-size: 18px;
}
.link_login,
.link_login_1 {
    display: inline-block;
    height: 32px; 
    line-height: 32px;
    color: #999;
}
.link_login3:hover{
    color: red;
} 
.link_login_1,
.link_login_2 {
    color: red; 
    display: inline-block;
    height: 32px;
    line-height: 32px;
}  
.cw_hide{  
    left: 4px;
    width: 157px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    padding: 7px 0 10px 15px;
}
.cw_hide .item{
    display: inline-block;
    width: 60px;
}
.cw_hide .item a{   
    color: #999;
    display: inline-block;
} 
.dropdown_btn{  
    right: 18px;
    width: 170px;
    padding: 10px 0;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    background: white;
}
.dropdown_btn .item-client,.dropdown_btn .item-busiess{
    padding-left: 15px;
    height: 24px;
    line-height: 24px;
    color: #666;
    font-weight: 700;
    float: left;
    width: 155px;
}
.item-busiess{
    border-top: 1px dotted #eee;
}
.dropdown_btn .item{ 
    float: left;
    width: 70px;
    height: 24px;
    line-height: 24px;
    padding-left: 15px; 
}
.dropdown_btn .item a{
    color: #999;
    display: inline-block;
    height: 24px;
} 
.shortcut_btn:hover{
    background: white;
    height: 33px;
}
.shortcut_btn:hover .dropdown_btn{
    display: block; 
}
.shortcut_btn{
    position: relative;
}
.dropdown_layer{
    /* right: 18px; */
    right: -105px;
    width: 1190px;
    padding: 15px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
    float: left;
    background: white;
}
.dropdown_layer>div:nth-child(1){
    border-left: none;
}
.dropdown_layer .fore1,.fore2,.fore3,.fore4{
    float: left;
    width: 24%;
    margin: 0;
    padding-left: 15px;
    box-sizing: border-box;
    border-left: 1px solid #eee;
}
.dropdown_layer .item{
    float: left;
    width: 85px;
}
.shortcut_btn:hover{
    background: white;
    height: 33px;
} 
.mobile{ 
    right: 25px;
    width: 190px; 
    border: 1px solid #cfcfcf;
    border-bottom: 3px solid #60575a;
    z-index: 8;
}
.mobile .mobile_pop_item{
     width: 190px;
     height: 101px;
     box-sizing: border-box;
     padding: 15px 0;
     text-align: center;
     line-height: 70px;
     position: relative;
}
.mobile .mobile_pop_item img{
    float: left;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    position: absolute;
    left: 5px; 
}
.mobile .mobile_pop_all{
    float: right;
    width: 94px;
    height: 70px;
    margin-right: 5px;
}
.mobile .mobile_pop_all::before{
    content: '';
    position: absolute;
    top: -9px;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px solid transparent;
    border-color: transparent transparent #fff;
    right: 17px;
    z-index: 10;
}
.mobile .mobile_pop_all h5{
    height: 17px;
    line-height: 17px;
    margin-bottom: 5px;
}
.mobile .mobile_pop_val{
    height: 14px;
    line-height: 14px;
    margin-bottom: 5px;
}
.mobile .mobike_pop_png{
    float: left;
    width: 25px;
    height: 25px;
    background: url(../images/shouji.png);
    margin-right: 5px;
}
.mobile .mobike_pop_png1{
    background-position: 0 -26px;
}
.mobile .mobike_pop_png2{
    background-position: 0 -52px;
}
 
/*导航部分结束*/ 
/* 搜索框 */
.header {
    width: 100%;
    height: 141px;
    background-color: white;
}
.w {
    width: 1190px;
    height: 140px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
} 
.w_logo {
    width: 190px;
    height: 120px;
    float: left;
    margin-top: 9px;
} 
.w_logo a {
    display: inline-block;
    width: 190px;
    height: 120px; 
} 
.w_logo img{
    width: 100%;
    height: 100%;
}
.w_center {
    width: 750px;
    height: 141px;
    float: left;
    position: relative;
}

.w_search { 
    margin-top: 32px;
    margin-left: 67px;
    box-sizing: border-box; 
    height: 32px; 
}

.w_search .w_search_logo{
    width: 125px;
    height: 40px;
    float: left;
    display: none;
}
.w_search .w_search_logo a{
    background: url('../images/jingdonglogo.png');
    background-position: 0 -120px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 125px;
    height: 40px;

}
.w_search_fixed{
    position: fixed; 
    width: 100%;
    height: 52px;
    margin: 0 0; 
    left: 50%;
    top: 0;
    margin-left: -50%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    z-index: 21; 
    animation: searchTop .5s ease-in-out;
}
@keyframes searchTop{0%{top:-50px}to{top:0}}
.w_search_fixed .w_search_fix{
     overflow: hidden;
     width: 1190px;
     height: 100%;
     margin: 0 auto;
     position: relative;
} 
.w_search_fixed .w_search_logo{
    position: absolute;
    left: 0;
    top: 4px; 
}
.w_search_fixed .w_search1{
    position: absolute;
    left: 260px;
    top: 50%;
    margin-top: -16px;
}
.w_search_fixed .shop{
    position: absolute;
    right: 230px;
    top: 50%;
    margin-top: -16px;
} 
.w_search .w_search1{
    float: left;
    width: 550px;
    height: 32px;
}
.search {
    width: 490px;
    height: 32px;
    border: 2px solid #e2231a;
    float: left;
    box-sizing: border-box;
    padding: 2px 44px 2px 17px;
} 
.button_1 {
    float: left; 
    margin-left: -4px;
} 
.button { 
    width: 58px;
    height: 32px;
    margin-left: -4px;
    background-color: #e1251b;
    border: none;
} 
.button span {
    color: #fff;
} 
.shop {
    display: inline-block; 
    position: relative;  
} 
.shop_but {
    width: 130px;
    height: 32px;
    border: 1px solid #e3e4e5;
    text-align: center;
    line-height: 32px;
    color: #e1251e; 
    float: right;
    box-sizing: border-box;
    position: relative;
    z-index: 4;
} 
.shop_but .icon-gouwuche {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: #c81623;
}
.shop_but .supscript{
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 14px;
    top: 0;
    left: 28px;
    background: #e1251b;
    border-radius: 7px;
    color: white;
    line-height: 14px; 
}
.shop .shop_but_hide{
    width: 310px;
    height: 70px;
    border: 1px solid #c81623;
    position: absolute;
    right: 0;
    top: 32px; 
    box-sizing: border-box;
    display: none;
}
.shop .shop_but_hide .cart_pop{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
}
.shop_but_hide .cart_pop .cart_empty{
    height: 49px;
    padding: 10px 0;
    text-align: center;
    color: #999;
}
.cart_pop .cart_empty .cart_empty_img{
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 49px;
    background: url('https://img11.360buyimg.com/uba/jfs/t3571/299/131233948/1117/a1196554/58004d6dN2927f0f7.png'); 
}
.shop:hover .shop_but_hide{
    display: block;
}
.shop:hover .shop_but{
    height: 33px;
    border-top-color: #e83632;
    border-left-color: #e83632;
    border-right-color: #e83632;
    border-bottom-color:white;
} 
.w_layer {
    float: left;
    width: 704px; 
    margin : 9px 0 0 66px;
    position: absolute;
    left: 4px;
    top: 64px;
} 
.w_layer .w_layer_1 {
    float: left; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}
.w_layer .w_layer_1:hover a{
    color: red;
}
.w_layer_2 {
    color: red;
} 
.w_layer_3 a {
    color: #999;
} 
.W_tit {
    height: 40px;
    position: absolute;
    bottom: 0;
} 
.group {
    height: 40px;
    float: left; 
} 
.group1 {
    float: left;
    margin-left: 1px;
} 
.group1 a {
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px;
    color: #333;
}
.group1 a:hover{
    color: red;
}
.group1 .group2{
    color: red;
    font-weight: 700;
}
.header .w_right{
    float: right;
    height: 140px; 
}
.header .w_right a{
    background: url('../images/sourig.png.webp');
    display: inline-block;
    width: 190px;
    height: 120px;
    margin-top: 22px;
}
/* 搜索框结束*/
 
/*  分类 begin */ 
.bac {
    background: url(https://img14.360buyimg.com/img/jfs/t1/78004/27/13221/115650/5da97e5cE50aeeb04/def46e257e919d06.png.webp) no-repeat 50% 0;
}

.class {
    width: 1190px;
    /* height: 480px; */
    margin: 0 auto;

}
.class .classify{
    margin-bottom: 20px;
    overflow: hidden;
}
.class_left {
    width: 190px;
    height: 470px;
    margin-right: 10px;
    float: left;
    background-color: white;
    margin-top: 10px;
    position: relative;
}  
.class_left_list1 {
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}

.class_left_list1 a {
    font-size: 14px;
    color: #333;
}

.class_left_list1 span {
    padding: 0 2px; 
}
.class_left .J_popCtn{
    width: 998px;
    height: 468px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0,0.3);
    position: absolute;
    left: 191px;
    top: 0;
    z-index: 2; 
    padding-left: 26px;
    display: none;
}
.J_popCtn .right_con{
    display: none;
}
.J_popCtn .J_popCtn_tit{
    overflow: hidden; 
    box-sizing: border-box;
    padding-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.J_popCtn .J_popCtn_tit li{
    float: left;
    /* width: 65px; */
    height: 24px;
    background-color: rgb(26, 26, 26);
    margin-right: 10px;
    text-align: center;
    line-height: 24px;
    padding: 0px 10px;
    
}
.J_popCtn_tit li a{
    color: white;
}
.J_popCtn_tit li a i{
    display: inline-block;
    margin-left: 5px;
    font-style: normal;
}
.J_popCtn1{
    height: 24px;
    /* width: 780px; */
    line-height: 24px;
    margin-bottom: 10px;
}
.J_popCtn1 .J_popCtn_tit1{
    float: left;
    margin-right: 20px;
    height: 24px;
    line-height: 24px;
    width: 61px;
    text-align: right;
} 
.J_popCtn1 .J_popCtn_tit1 h4{
    display: inline-block;
} 
.J_popCtn1 ul {
    overflow: hidden;
    float: left; 
}
.J_popCtn1 ul li{
    float: left;
    margin-right: 15px;
}
.J_popCtn1 ul li a{
    color: #666;
}
.class_left:hover .J_popCtn{
    display: block; 
}
.class_left_list1 a:hover{
    color: red;
}

/* @media screen and (max-width:1190px){
    .class_center{
        width: 590px; 
    }
    .class_center_img2{
        display: none;
    }
    .class_right {
        margin-right: 190px;
    }
} */
.class_center {
    /* width: 790px; */
    height: 470px;
    margin-top: 10px;
    float: left;
}

.class_center_img,
.class_center_img2 {
    float: left;
} 
.class_center_img {
    width: 590px;
    position: relative;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev:after,.swiper-button-next::after{
    content: '';
}
.arrowAll{
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    line-height: 35px;
    text-align: center; 
    margin-top: -20px; 
    z-index: 2;
    color: white;
}
.leftArrow{ 
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: rgba(0,0,0,.15); 
}
.rightArrow{
    background-color: rgba(0,0,0,.15); 
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.rightArrow .iconfont{
    transform: rotate(180deg); 
}
.class_center_img .iconfont,.swiperArrow .iconfont{ 
    font-size: 13px;
}
.center_img1 {
    height: 150px;
    margin-bottom: 10px;
}

.center_img1 img {
    width: 190px;
    height: 150px;
    padding-left: 10px;
}

.class_right {
    width: 190px;
    height: 470px;
    float: right;
    background-color: white;
    margin-top: 10px;
}

.class_right_top {
    height: 102px;
    margin-top: 10px;
    border-bottom: 1px solid #80808038;
    box-sizing: border-box;
}

.top_logo {
    height: 67px;
}

.top_logo_left {
    width: 44px;
    height: 44px;
    margin: 13px 0 0 20px;
    float: left;
}

.top_logo_right {
    float: left;
    margin: 12px 0 0 10px;
}

.logo_left_1 {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.logo_left_1 img {
    width: 40px;
    height: 40px;
}

.user_show p {
    color: #999999; 
}

.user_show a {
    color: #666; 
    margin-right: -5px;
}

.regsiter {
    margin-left: -5px;
}

.user {
    margin-left: 16px;

}

.user_1 {
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    margin: 0 5px; 
    text-align: center;
    background-color: #e1251b;
    border-radius: 13px;
    color: #fff;
}

.user_2 {
    background: #363634;
    color: #e5d790;
}

.news {
    height: 120px;
    width: 190px;
    box-sizing: border-box;
}

.j_news {
    height: 20px;
    padding-top: 10px;
    line-height: 20px;
    margin-bottom: 8px;
}

.new_hd h5 {
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 15px;
}

.new_hd a { 
    color: #999999;
    margin-left: 55px;
}

.new_hd i {
    display: inline-block; 
    color: #999;
}

.news_list {
    height: 88px;
    list-style: none;
    border-bottom: 1px solid #80808038;
}

.news_item {
    width: 160px;
    height: 16px;
    line-height: 16px;
    color: #999;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    margin: 0 auto 6px;
}

.news_item span {
    display: inline-block;
    width: 35px;
    height: 16px;
    line-height: 16px;
    color: #e1251b;
    text-align: center; 
    background-color: rgba(225, 37, 27, .08);

}

.J_service {
    height: 238px;
    width: 190px;
}

.service_entry {
    width: 189px;
    height: 230px;
}

.service_wrap {
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.service_icon {
    float: left;
    width: 33.33%;
    height: 24%;
    margin-top: 4px;

}

.service_icon img {
    display: inline-block;
    width: 28px;
    height: 28px;
}

.service_icon .service_txt {
    font-size: 14px;
    color: #666666;
    width: 100%;
}

/* 
.entry_top{
    width: 189px;
    height: 22px;
    font-size: 12px;
}
.entry_top a{
    display: inline-block;
    margin-left: 25px;
    margin-top: 5px;
}
.entry_top1{
    margin-top: 25px;
}
.entry_top1 .air{
    margin-left: 11px;
}
.entry_top1 .infor{
    margin: 0;
} */
/* 京东秒杀 */
.seckill {
    width: 100%;
    height: 260px;
    /* overflow: hidden; */
    position: relative;
}

.seckill_content {
    width: 1190px;
    margin: 0 auto;
    height: 260px;
    background: white;
}

.seckill_time {
    width: 190px;
    height: 100%;
    background: #e83632 url(../images/seckill.png) center no-repeat;
    background-size: contain;
    overflow: hidden;
    float: left;
}

.seckill_time h3 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.seckill_time p {
    text-align: center;
    color: #fff;
    margin-top: 100px;
    font-size: 14px;
}

.seckill_time p strong {
    font-size: 18px;
    vertical-align: middle;
}

.seckill_time .times {
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    box-sizing: border-box; 
}
.times .endSign{
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    display: inline-block; 
}
.times .time {
    width: 30px;
    height: 30px;
    background: #2f3430;
    font-size: 20px;
    color: #fff;
    text-align: center; 
}
.times span{ 
    display: inline-block;
}
.times .colon{ 
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 20px;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
} 
#swiper1 {
    margin: 0;
    width: 800px;
    float: left; 
}
#swiper1 .swiperArrow{
    position: absolute;
    top: 50%;
    z-index: 2;
}
.slider_list {
    float: left;
    background: #fff;

}

.list_one {
    width: 200px;
    height: 260px;
    float: left;
    position: relative;
}

.list_one::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 200px;
    transform: translateY(-50%);
    background: linear-gradient(180deg, white, #eee, white);
}

.one_pic {
    width: 140px;
    height: 140px;
    margin: 30px auto 0;
}

.list_one h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    font-weight: 400;
    color: #333;
    margin: 13px 20px 0;
}

.one_price {
    border: 1px solid #e1251b;
    box-sizing: border-box;
    line-height: 22px;
    height: 22px;
    width: 160px;
    margin: 7px 20px 0;
}

.current {
    float: left;
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background: #e1251b;
    position: relative;
    box-sizing: border-box;
}

.current::after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-color: transparent white transparent transparent;
    border-width: 20px 8px 0 0;
    border-style: solid;
    position: absolute;
    top: 0;
    right: 0;
}

.origin {
    float: right;
    height: 100%;
    width: 66px;
    text-align: center;
    color: #999; 
    text-decoration: line-through;
}

.one_price i {
    font-style: normal;
}

.seckill_last {
    width: 180px;
    height: 260px;
    float: right;
    background: #fff;
}
.seckill .elevator{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 615px;
    background: #fff;
}
@keyframes eleShow{
    0%{top: 0;}to{top: 75px;}
}
.seckill .elevator_fix {
    position: fixed;
    top: 75px;
    animation: eleShow .5s ease both;
}
.elevator li{
    width: 60px;
    height: 58px;
  
} 
.elevator li img{
    width: 57px;
    margin-top: 1px;
   
} 
.elevator .elevator_item{
    width: 28px;
    height: 37px;
    line-height: 19px;
    padding: 10px 16px; 
    text-align: center;
}
.elevator .elevator_item1{
    padding: 0;
    width: 60px;
    height: 58px;
}
.elevator li::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 1px;
    background: linear-gradient(white,#eeeeee,#eeeeee,white);
}
.elevator li .elevator_item .icon-kefu:before {
   opacity: .6;
} 
.elevator_toTop{
    display: block;
    height: 50px;
    padding-top: 10px;
}
.elevator_toTop:hover{
    background: #e1251b; 
    color: #fff;
}
.elevator_toTop:hover span{
    color: #fff;
}
.elevator_toTop span{
    display: block; 
    text-align: center; 
    color:#e1251b; 
} 
.elevator .icon-up{ 
    font-size: 20px; 
    opacity: .6;
    height: 22px;
    line-height: 22px;
} 
.elevator_toTop_txt{
    height: 18px;
}
.last_pic {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.last_pic img {
    width: 120px;
    height: 120px;

}

.last_info {
    text-align: center;
}

.last_info .info1 {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.last_info .info2 {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
}

.info_action {
    color: #e1251b;
    width: 82px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
    line-height: 22px;
    font-weight: 700;
    padding-left: 4px; 
    border: 1px solid #e1251b;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 10px;
}


/* 优惠券活动 begin */
.activity_wrapper {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    
}

.activity {
    background: url(../images/activity.webp) no-repeat center 0;
    background-size: 1265px 580px;
    width: 1190px;
    height: 580px;
    margin: 0 auto;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px; 
}
.activity .activity_container{
    overflow: hidden;
}  
.activity_skus {
    width: 820px;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.activity_skus a {
    float: left;
    margin: 0 12.5px 10px 0;
}

.activity_shops {
    width: 820px;
    height: 110px;
    float: right;
    margin-right: 30px;
}

.shop {
    float: left;
}

.shop img {
    margin-right: 12.5px;
}





/*排行榜和品牌闪购 begin  */

.rank {
    width: 100%;
}

.con {
    width: 1190px;
    height: 340px;
    margin: 20px auto;
}

.con_left {
    width: 590px;
    height: 340px;
    margin-right: 10px;
    background-color: #fff;
    float: left;
}

.con_top {
    padding: 0 20px;
    height: 60px;
    padding: 0 20px;
}

.con_top a {
    display: inline-block;
    height: 32px;
    margin-top: 12px;
    position: relative;
}

.box_tit {
    color: #333;
    font-size: 24px;
    font-weight: 700px;
    float: left;
    line-height: 32px;
}

.arrow {
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite.png);
    background-position: -16px 0;
    width: 16px;
    height: 16px;
    float: left;
    position: absolute;
    top: 9px;
    left: 77px;
}

.arrow::after {
    background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/tit_arrow/sprite.png);
    background-position: 0 0;
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    -webkit-transition: all .2s ease;
    opacity: 0;
}

.con_bot {
    position: relative;
    height: 250px;
}

.con_bot_tit {
    position: absolute;
    height: 60px;
    right: 7px;
    top: -60px;
}

.tit_links {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
    font-size: 14px;
}

.tit_links a {
    display: inline-block;
    max-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px;
    margin: 0 8px;
    color: #999;
}

.con_bot_body {
    position: relative;
    padding-left: 300px;
    padding-top: 10px;
}

.con_body_1 {
    position: absolute;
    height: 180px;
    left: 15px;
    top: 0;
    color: #333;
    font-size: 14px;
    max-height: 40px;

}

.body_1_img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.con_body_1 a {
    display: block;
    height: 164px;
    padding-top: 16px;
    width: 270px;
    float: left;
    background-color: #f4f4f4;
}

.body_1_rank {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 25px;
    text-align: center;
    background-color: rgb(219, 76, 76);
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.rank_hot {
    display: block;
    padding-top: 5px;
}

.rank_top { 
    line-height: 14px;
    display: block;
    margin-top: 3px;
}

.rank_top_2 {
    background-color: #dbcb09e0;
    width: 30px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
}

.rank_name {
    display: block;
    width: 210px;
    height: 40px;
    line-height: 20px;
    max-height: 40px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    margin: 8px 30px 0;
}

.con_body_2 {
    position: relative;
    width: 270px;
    height: 70px;
    margin-bottom: 12px;
}

.body_2_top {
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
}

.body_2_img {
    width: 70px;
    height: 70px;
    margin-left: 40px;
    float: left;
}

.body_2_name {
    position: absolute;
    top: 25%;
    right: 0;
    width: 150px;
    max-height: 32px;
    line-height: 16px; 
    overflow: hidden;
    display: block;
}

.body_lists {
    position: absolute;
    width: 272px;
    top: 182px;
    left: 15px;
}

.body_list {

    width: 134px;
    height: 40px;
    margin: 0 2px 2px 0;
    background-color: #f4f4f4;
    float: left;
    text-align: center;
}

.god {
    float: left;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    margin-left: 35px;
}

.body_list_arrow {
    display: inline-block;  
    width: 4px;
    height: 7px;
    margin: 17px 26px 0 0;
}

.con_right {
    width: 590px;
    height: 340px;
    float: left;
    background-color: #fff;
}

.con_gilt {
    height: 60px;
    padding: 0 20px;
}

.arrow_1 {
    left: 100px;
}

.con_right_tit {
    width: 555px;
    height: 275px;
    padding: 0 20px 0 15px;
}

.con_right_tit_left a {
    float: left;
    width: 270px;
    height: 265px;
    margin-right: 15px;
    background-color: #f4f4f4;
}

.con_right_tit_left img {
    width: 70px;
    height: 35px;
    display: block;
    margin: 15px auto 0;
}

.con_right_tit_left_name,
.desc_price {
    text-align: center;
    color: #333;
}

.con_right_tit_left_name {
    font-weight: 550;
    font-size: 14px;
    margin-top: 6px;
}

.con_right_tit_left_desc {
    text-align: center; 
    color: #666;
    margin-bottom: 13px;
    margin-top: 1px; 
} 
.desc_price {
    padding-right: 5px; 
} 
.desc_last {
    display: inline-block;
} 
.desc_last::before {
    width: 1px;
    height: 10px;
    background-color: rgba(102, 102, 102, .4);
    content: "";
} 
.desc_day {
    display: inline-block;
} 
.desc_day_teo {
    font-weight: 800;
} 
.con_right_tit_left .shoe {
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    background-color: #f4f4f4;
} 
.con_right_tit_right {
    width: 270px;
    display: inline-block;
    margin-top: -40px;
} 
.con_right_tit_right a {
    float: left;
    width: 135px;
    height: 72px;
    padding: 14px 0;
    text-align: center;
    position: relative;
} 
.con_right_tit_right img {
    width: 100px;
    height: 50px;
} 
.con_right_tit_right p {
    color: #666;
    margin-top: 6px; 
    text-align: center;
    font-weight: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.con_right_tit_right .border::after {
    position: absolute;
    width: 1px;
    height: 60px;
    right: 0;
    top: 50%;
    margin-top: -30px;
    background-color: #ccc6c68c;
    content: "";
} 
/* 排行榜和品牌闪购 end */

/* 发现好货 begin */
.niceGoods {
    width: 100%;
} 
.niceGood {
    width: 1190px;
    margin: 0 auto;
} 
.logo_container {
    background: url(../images/faxianhaohuo.png) no-repeat center;
    height: 260px;
    width: 190px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

.logo {
    width: 160px;
    height: 90px;
    background: url(../images/faxian.png);
    margin: 15px auto 0;
}

.logo_txt {
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 55px 0 10px 20px;
}

.logo_txt i {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    background: url(../images/xiaoicon.png)0 -16px;
    vertical-align: middle;
}

.logo_txt i::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/xiaoicon.png) 0 0;
    opacity: 0; 
}

.nice_goods {
    width: 990px;
    height: 260px;
    background: white;
}

.good_item {
    width: 150px;
    height: 181px;
    display: inline-block;
    margin: 50px 50px 0 0;
    overflow: hidden;
}

.good_item img {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.good_item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.item1 {
    margin: 0 40px 38px 0;
}
 
/*  为你推荐 begin */
.j_feeds {
    width: 100%;
    margin-top: 20px;
}

.content {
    width: 1190px;
    margin: 0 auto;
}

.floor_hd {
    margin: 0 auto;
    height: 65px;
}

.floor_hd {
    font-size: 28px;
    font-weight: 700;
    width: 300px;
    height: 65px;
    line-height: 65px;
    padding: 0 30px;
    color: #333333;
    text-align: center;
}

.floor_hd h3 {
    display: inline-block;
    margin: 0 20px;
}

.floor_hd::after,
.floor_hd::before {
    background: url(../images/weinituijian.png) -25px 0;
    width: 25px;
    height: 25px;
    content: "";
    display: inline-block;
}

.floor_nav {
    width: 1015px;
    height: 60px;
    padding: 0 87.5px;
    margin: 0 auto;
    background: #fff;
}

.floor_nav li {
    width: 20%;
    height: 60px;
    list-style: none;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
    float: left;
    justify-content: center;
    display: flex;
    position: relative;
}

.nav_one {
    color: #333333;
    text-align: center;
    float: left;
}

.nav_one span {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 70px;
    height: 27px;
    background: #e1251b;
    display: inline-block;
    border-radius: 50px;
    line-height: 27px;
    margin-bottom: 5px;
}

.gus_like {
    color: #e1251b;
    font-size: 14px;
}

.nav_gap {
    display: inline-block;
    width: 1px;
    height: 40px;
    margin: 10px 0;
    background: linear-gradient(180deg, white, #dfdfdf 51%, white);
    position: absolute;
    top: 0;
    right: 0;
}
.nav_title{
    float: left;
}
.nav_title h3{
    margin-bottom: 5px;
}
.nav_title p{
    color: #999;
    font-size: 14px;
}
.floor_items{
    overflow: hidden; 
    margin:20px -5px 0 -5px;
}
.floor_item{
    float: left;
    width: 230px;
    height: 322px;
    margin: 0 5px 10px 5px;
    background: #fff;
    list-style: none;
}
.floor_item img{
    display: inline-block;
    margin: 30px 40px 40px;
    width: 150px;
    height: 150px;
}
.item_info{
    font-size: 14px;
    height: 48px;
    line-height: 24px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 20px;
}
.item_price{
    margin-left: 20px;
}
.item_price i{ 
    font-weight: 700;
    font-style: normal;
    color: #e1251b; 
}
.item_price .price{
    font-size: 20px;
    font-weight: 700;
    color: #e1251b; 
}

.item_price .pag{ 
    color: #e1251b;
    padding: 0 6px;
    border: 1px solid #e1251b;
    border-radius: 2px;
    margin: 10px 20px auto auto;
    float: right; 
}
/* 底部 begin */
.jd_footer{
    width: 100%;
}
.jd_footer_container{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.jd_footer_container ul{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.container_icon{
    font-size: 18px;
    height: 42px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444444;
    width: 25%;
    text-align: center;
    float: left;
    padding: 0 47px;
    box-sizing: border-box;
}
.container_icon h4{
    background: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/23f3ddf914b1b527d0429a3d713cfe3a.png) no-repeat 0 -192px;
    width: 36px;
    height: 42px; 
    float: left;
}
.container_icon p{
   float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 5px;
}
.nav_items{
    width: 100%;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}
.jd_footer_nav{
    width: 1190px;
    overflow: hidden;
    margin-top: 20px;
}
.nav_item{
    width: 198px;
    float: left;
}
.nav_item h4{
    margin-bottom: 5px;
    font-size: 14px;
    height: 22px;
}
.footer_nav li{ 
    color: #666;
    height: 22px;
    line-height: 22px;
}
.jd_help{
    float: right;
    width: 200px;
    height: 150px;
}
.jd_cover{
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.jd_cover_info{
    padding: 0 10px;
}
.jd_cover_info,.jd_cover_more a{ 
    color: #666;
}
.jd_cover_more{
    text-align: right;
    
}






