*{
    margin: 0;
    padding: 0;
}
#outer{
    width: 800px;
    height: 300px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
#outer #context{
    width: 4000px;
    height: 300px;
    position: absolute;
    left: 0;
}
#context img{
    float: left;
    width: 800px;
    height: 300px;

}
ul{
    list-style: none;
    position: absolute;
    bottom: 10px;
    width: 120px;
    height: 30px;
    left: 50%;
    margin-left: -60px;

}
ul li{
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    background: red; 
    cursor: pointer;
}
ul li.select{
    background: yellowgreen;
}
span{
    width: 20px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    background: black;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}
#right{
    right: 0;
}



